* {
    margin: 0;
    padding: 0;
}

.absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.glass {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.noise {
    background-image: url("../src/lib/misc/assets/noise.png");
}