* {
    margin: 0;
    padding: 0;
    font-family: 'SFPro-Regular'
}

.absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.glass {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.noise {
    background-image: url("../src/lib/misc/assets/noise.png");
}

.buttonReset {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: all 0.5s ease;
}

@font-face {
    font-family: 'SFPro-Regular';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
    font-family: 'SFPro-Medium';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}

@font-face {
    font-family: 'SFPro-Bold';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYBOLD.OTF') format('opentype');
}

@font-face {
    font-family: 'SFPro-BlackItelic';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
}

@font-face {
    font-family: 'SFPro-HeavyItalic';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
}

@font-face {
    font-family: 'SFPro-LightItalic';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
}

@font-face {
    font-family: 'SFPro-SemiBoldItalic';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
}

@font-face {
    font-family: 'SFPro-ThinItalic';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
}

@font-face {
    font-family: 'SFPro-UltraLightItalic';
    src: url('./lib/misc/fonts/SFPro/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
}